body {
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  h1, #designed-by {
    text-align: center;
  }
  
  .style1 {
    background-color: pink;
  }
  
  .style2 {
    background-color: purple;
  }
  
  .style3 {
    background-color: lightblue;
  }
  
  .style4 {
    background-color: yellow;
  }
  
  .style5 {
    background-color: green;
  }
  
  .style6 {
    background-color: red;
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
  }